<h2>Edit</h2>


<form action="/food/{{food._id}}/edit" method="POST" enctype="multipart/form-data">

  <label>Name:</label>
  <input type="text" name="name" value="{{food.name}}">

  <label>Description:</label>
  <input type="text" name="description" value="{{food.description}}">

  <label>picture:</label>
  <img src="{{food.pic}}">
  <p>Replace it:</p>
  <input type="file" name="image">

  <label>Location:</label>
  <select name="location">
    {{#each locations}}
    <option value="{{this._id}}" {{#if this.selected}} selected {{/if}}>{{this.name}}</option>
    {{/each}}
  </select>
  Dont see your location? <a href="/add-location">Add a Location</a><br>
  <button class="waves-effect waves-light btn">Save</button>
</form>



<form action="/food/{{food._id}}/delete" method="POST"
  onsubmit="return confirm('Are you sure want to delete this dish?')" ;>
  <button class=" waves-effect waves-light btn red">DELETE</button>
</form>