<h2>{{food.name}}</h2>
<p>{{food.description}}</p>
<br>
<img src="{{food.pic}}" alt="{{food.name}}">
<br>
<hr>
<h3>Location:</h3>
<p>{{location.name}}</p>
<p>Address:</p>
<p>{{location.streetAddress}} {{location.city}}, {{location.state}} {{location.zipCode}}</p>
<a href="/location/{{location._id}}">view details</a>


<a href="/profile/{{food.owner}}">creator</a>
{{#if food.isowner}}
<a href="food/{{food._id}}/edit">Edit</a>
{{/if}}